.App {
  text-align: center;
  background-color: #0f2e76;
  min-height: 100vh;
  padding: 50px;
  font-family: 'Arial', sans-serif;
  color: #55b7d0; 
}

.pokemon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px; 
  padding-top: 50px;
}

.pokemon-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px;
  width: 250px; 
  text-align: center;
  background-color: #687ae2; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pokemon-card img {
  width: 150px; 
  height: 300px; 
  margin-bottom: 10px;
}

.pokemon-card h3 {
  font-size: 1.2em;
  font-family: 'Verdana', sans-serif; 
  color: #15335b; 
}
